<div class="container">
  <div class="wrapper-form">
    <h1>Sign in</h1>

    <form action="<%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <p>
        <input id='user-email' type="text" name="user[email]" placeholder="E-mail">
      </p>

      <p>
        <input id='user-password' type="password" name="user[password]" placeholder="Password">
      </p>

      <input type="submit" value="Submit">
      <br>
    </form>
    <a class="sign-up" href=<%= new_user_url %> >Sign Up</a>
  </div>
</div>
